# TODO:
# * pypy

name: CI
on:
  push:
    paths-ignore:
    - 'LICENSE.txt'
    - 'README.md'
  pull_request:
    paths-ignore:
    - 'LICENSE.txt'
    - 'README.md'
jobs:
  Baseline:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-latest]
        py: [python3.7, python3]
        cc: [[gcc, g++], [clang, clang++]]
    runs-on: ${{ matrix.os }}
    environment: secrets
    env:
      PYTHON: ${{ matrix.py }}
      CC: ${{ matrix.cc[0] }}
      CXX: ${{ matrix.cc[1] }}
    steps:
    - uses: actions/checkout@v2
    - name: Install deps
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt-get update
        sudo apt-get install ${PYTHON}
        sudo apt-get install ${PYTHON}-pip || true
    - name: Run tests
      run: scripts/travis.sh
  Pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install deps
      run: sudo apt-get install pylint
    - name: Run tests
      run: |
        pylint find-locals.py
        pylint bin/ld
  Coverage:
    needs: Baseline
    runs-on: ubuntu-latest
    environment: secrets
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Install deps
      run: sudo python3 -mpip install codecov
    - name: Run tests
      env:
        PYTHON: coverage run -p
      run: scripts/travis.sh
    - name: Upload coverage
      run: |
        for t in tests/*; do
          if test -d $t; then
            (cd $t && coverage combine && coverage xml)
          fi
        done
        codecov --required
